//
// Colours
//
$primary-color: #4056A1;
$secondaery-color: #D69A27;
$lines-color: #545149;
$background-color: #f4f1ec;
$white-color: #ffffff;
$shadow-color: #c9cae2;
$dimmed-color: #C5CBE3;
$danger-color: #e00000;
$danger-bg-color: #D85351;

//
// Fonts
//

$primary-font: 'Source Sans Pro';
$secondaery-font: 'Bungee';
$fallback-font: sans-serif;

//
// Breakpoints
//
$tablet-width: 768px;
$desktop-width: 1024px;

//
// other
//
$nav-height: 120px;
$nav-height-small: 90px;
$header-height: 400px;
$header-height-small: 350px;

//
// mixins
//
@mixin flex($direction: column, $alignment: center) {

  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
}