//
// Colours
//
$primary-color: #4056A1;
$secondaery-color: #D69A27;
$lines-color: #545149;
$background-color: #f4f1ec;
$white-color: #ffffff;
$shadow-color: #c9cae2;
$dimmed-color: #C5CBE3;
$danger-color: #ff0000;
$danger-bg-color: #D85351;

//
// Fonts
//

$primary-font: 'Source Sans Pro';
$secondaery-font: 'Bungee';
$fallback-font: sans-serif;

//
// other
//
$desktop-width: 1024px;

//
// mixins
//
@mixin flex($direction: column) {

  display: flex;
  flex-direction: $direction;
}