@import "base";

.site-header {
  @include flex;
  width: 100%;
  padding-top: $nav-height;
  height: $nav-height + $header-height;
  background-color: $secondaery-color;
  background-image: url('/images/asfalt-light.png');
  justify-content: center;

  h2 {
    color: $white-color;
    font-weight: 300;

    span {
      font-weight: 600;
    }
  }
}


@media (min-width: $desktop-width) {

  .site-header {
    padding-top: unset;
    height: $header-height;
    flex: 2;
  }
}