@use 'base';

.site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  height: 520px;
  background-color: base.$secondaery-color;
  background-image: url('/images/asfalt-light.png');
  justify-content: center;
  align-items: center;
}

.site-header h2 {
  color: base.$white-color;
  font-weight: 300;
}

.site-header h2 span {
  font-weight: 600;
}

@media (min-width: base.$desktop-width) {

  .site-header {
    padding-top: unset;
    height: 400px;
    flex: 2;
  }
}