@use 'base';
@import "base";

nav {
  @include flex(row);
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 120px;
  color: base.$white-color;
  padding-left: 1.5em;
  padding-right: 1.5em;

  i {
    color: base.$danger-color;
  }

  span {
    font-family: base.$secondaery-font, base.$fallback-font;
  }

  .compose {
    @include flex;
    cursor: pointer;

    i {
      position: relative;
      animation: bounce 1.5s ease infinite alternate-reverse;
    }
  }
}


@keyframes bounce {
  0% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}


@media (min-width: base.$desktop-width) {

  nav {
    background-color: base.$primary-color;
  }
}