@use 'base';

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    background-color: base.$primary-color;
    color: base.$white-color;
    border: none;
    border-radius: 3px;
    padding: 0.2em 0.3em;
    cursor: pointer;
  }

}

form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: base.$secondaery-font,
      base.$fallback-font;
  }
}

textarea {

  height: 50px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 3px solid base.$lines-color;

}

textarea::placeholder {
  font-weight: bold;
  color: base.$lines-color;
}

/*
/* Warnings
*/
.count-warning {
  color: base.$danger-color;
}

.user-input-warning {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: base.$danger-bg-color;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: base.$white-color;
  font-size: 0.8em;

  p {
    margin-left: 4px;
  }
}


.close {
  margin-left: auto;
  align-self: flex-start;
  cursor: pointer;
}