@import "base";

form {

  @include flex($alignment: unset);

  div {
    @include flex(row, $alignment: unset);
    justify-content: space-between;
    margin-top: 20px;
    font-family: $primary-font,
      $fallback-font;
  }

  button {
    font-family: $secondaery-font,
      $fallback-font;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 0.3rem;
    cursor: pointer;
  }

  textarea {

    height: 50px;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 3px solid $lines-color;


    &::placeholder {
      font-weight: bold;
      color: $lines-color;
    }

  }



  output {
    font-family: $secondaery-font,
      $fallback-font;
  }

}


.slideUp {
  animation-duration: 0.5s;
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: -205px;
  }
}


.slideDown {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    margin-top: -205px;
  }

  to {
    margin-top: 0%;

  }
}

.hidden {
  z-index: -100;
}