@use 'base';
@import "base";

/*
 * Tweet Container
 */
article.tweet {
  @include flex($alignment: unset);
  border: 3px solid base.$lines-color;
  margin: 20px 0px;
  padding: 20px;
}

article.tweet:hover {
  box-shadow: 7px 7px 0px base.$shadow-color;
}

/*
 * Tweet Header
 */
article.tweet header {
  @include flex(row);
  justify-content: flex-start;
}

article.tweet img {
  width: 48px;
  height: 48px;
  margin-right: 7px;
}


article.tweet .handle {
  color: base.$dimmed-color;
  font-weight: 600;
  margin-left: auto;
}

/*
 * Tweet Content
 */

article.tweet section {
  border-bottom: 3px solid base.$lines-color;
  padding: 25px 10px;
  margin-bottom: 10px;
}

/*
 * Tweet Footer
 */

article.tweet footer {
  @include flex(row, $alignment: unset);
  justify-content: space-between;
  font-size: 0.7em;
  padding: 5px 10px;
}

article.tweet i {
  font-size: 0.7em;
  color: base.$primary-color;
  margin: 2px;
}

article.tweet i:hover {
  font-size: 0.7em;
  color: base.$secondaery-color;
}