header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  height: 520px;
  background-color: #D69A27;
  background-image: url('/images/asfalt-light.png');
  justify-content: center;
  align-items: center;
}

header h2 {
  color: #ffffff;
  font-weight: 300;
}

header h2 span {
  font-weight: 600;
}