form {
  display: flex;
  flex-direction: column;
  align-items: unset;
}
form div {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
}
form button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 0.2rem 0.3rem;
  cursor: pointer;
}
form textarea {
  height: 50px;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #545149;
}
form textarea::placeholder {
  font-weight: bold;
  color: #545149;
}
form output {
  font-family: "Bungee", sans-serif;
}

.slideUp {
  animation-duration: 0.5s;
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: -205px;
  }
}
.slideDown {
  animation-duration: 0.5s;
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    margin-top: -205px;
  }
  to {
    margin-top: 0%;
  }
}
.hidden {
  z-index: -100;
}
